workflows/My_Contact.json
{
  "name": "My_Contact",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        944,
        224
      ],
      "id": "ee764c6b-ae19-4be3-b31f-1875a05fd95d",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "QmVxOfEMvcrNKT7q",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "apptrc9TC6CiKujFe",
          "mode": "list",
          "cachedResultName": "airtable",
          "cachedResultUrl": "https://airtable.com/apptrc9TC6CiKujFe"
        },
        "table": {
          "__rl": true,
          "value": "tblKA1uIgoDjfAb6g",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apptrc9TC6CiKujFe/tblKA1uIgoDjfAb6g"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI('name') }}",
            "email": "={{ $fromAI('emailAddress') }}",
            "phone": "={{ $fromAI('phoneNumber') }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1392,
        256
      ],
      "id": "181378e8-20ba-4018-b5fc-fb0fab01306a",
      "name": "Add or Update Contact1",
      "credentials": {
        "airtableTokenApi": {
          "id": "dRIpCzzedbd6XnR3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1104,
        -32
      ],
      "id": "c913afc1-7c9f-48c9-9d66-919e3947b6d7",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        -16
      ],
      "id": "fb122a52-7637-48c2-9ec0-d871cc9f23e2",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        128
      ],
      "id": "46708559-79a7-4f50-810b-8eb66216e873",
      "name": "Try Again"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apptrc9TC6CiKujFe",
          "mode": "list",
          "cachedResultName": "airtable",
          "cachedResultUrl": "https://airtable.com/apptrc9TC6CiKujFe"
        },
        "table": {
          "__rl": true,
          "value": "tblKA1uIgoDjfAb6g",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/apptrc9TC6CiKujFe/tblKA1uIgoDjfAb6g"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1216,
        272
      ],
      "id": "4a359138-6db4-4d68-9ad8-b7cfa8f613b5",
      "name": "Get Contacts1",
      "credentials": {
        "airtableTokenApi": {
          "id": "dRIpCzzedbd6XnR3",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.1-terminus",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        672,
        256
      ],
      "id": "b4ea0871-87f8-44ec-8fc5-98468aaf3549",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "977Hu1YJ8QHyj7U7",
          "name": "deepseekv3_termnus"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        608,
        272
      ],
      "id": "d7696e70-a2b2-4022-88c9-229edf5e589b",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "qvlYODAOoqkjP82V",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        816,
        0
      ],
      "id": "7d090f8a-789f-44ec-b8bd-e71f7940a34c",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Contact1": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts1": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c8b303b-7f0a-42f0-800e-dee930e9696b",
  "meta": {
    "instanceId": "dbbfce6c6d9a659e11e15ca42582817ddb07576913825b9e22c6a9791cbc2a25"
  },
  "id": "8eOA9rX3SND4tfv6",
  "tags": []
}